@model IEnumerable<TCSH.Models.Clothe>

@{
    ViewData["Title"] = "AllProducts";
    Layout = "_ShopeLayout";
}
<br/>
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
             @if (ViewBag.faild != null)
                                {
                <br />

                <br />

                <br />

                <br />
                <div class="alert alert-danger justify-content-center align-self-center col-12" role="alert">
  There is no prodcut yet!!!
</div>
                                }else{
            foreach(var item in Model){
            <div class="col-lg-4">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                         <li><a asp-action="Details" asp-route-id="@item.ClotheId"><i class="fa fa-eye"></i></a></li>
                              </ul>
                        </div>
                          <img id="myImg2" src="~/ProductsImages/@item.ProductImageURLRsized" />
                    
                            </div>
                    <div class="down-content">
                        <h4>@item.Title</h4>
                        <span>$@item.Price</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
                }
            }
            

             @*   <div class="pagination">
                    <ul>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">&gt;</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </div>
    
</section>